<!DOCTYPE html>
<html>
  <head>
    <title>Assignment</title>
    <link rel="stylesheet" href="/blog/public/stylesheets/style.css" />
  </head>
  <body>
    <header class="header">
      <nav class="flex">
        <a href="/">
          <button>Home</button>
        </a>
        <a href="/article">
          <button>All Articles</button>
        </a>
      </nav>
    </header>
    <main class="main container">
      <fieldset class="form">
        <form action="/article/<%= article.id %>" method="post">
          <input
            type="text"
            name="title"
            id=""
            placeholder="Title"
            value="<%= article.title%>"
          />
          <input
            type="text"
            name="description"
            id=""
            placeholder="Description"
            value="<%= article.description%>"
          />
          <input
            type="text"
            name="tags"
            id=""
            placeholder="Tags: example(react, node, express)"
            value="<%= article.tags%>"
          />
          <input
            type="text"
            name="author"
            id=""
            placeholder="Name of Author"
            value="<%= article.author%>"
          />
          <div>
            <input type="submit" value="Update Article" />
          </div>
        </form>
      </fieldset>
    </main>
  </body>
</html>